/* Variables */
:root {
    --header-background: #2A324B;
    --header-text: #DED9E2;
    --titles: #2A324B;
    --websites: #987284;
}

/* Personal css preset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: var(--header-text);
}

/* Header */
header {
    width: 100%;
    height: 15vh;
    background-color: var(--header-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--header-text);
    font-size: font-size: 200%;;
}

header h1 {
    color: var(--header-text);
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    height: 7vh;
    padding: 0 7px;
    border: 3px solid var(--header-text);
    margin-left: 20px;
}

header nav {
    display: flex;
    align-self: flex-end;
    padding-bottom: 5px;
}

header a {
    font-size: 30px;
    color: var(--header-text);
    text-decoration: none;
    margin: 0 10px;
}

/* make the link float up when hovered */
nav a:hover {
    position: relative;
    bottom: 5px;
}

/* Banner image */
#bannerimage {
    height: 30vh;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/Deception-pass.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid var(--titles);
}

/* Main Styling */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* First section styling */
#about-me-title {
    padding: 5px;
    width: 30%;
    border-right: 3px solid var(--titles);
    color: var(--titles);
    text-align: right;
    margin-bottom: 50px;
}

#about-me {
    display: flex;
    width: 70%;
    margin-bottom: 50px;
}

#about-me p {
    padding: 5px;
    width: 100%;
}

#about-me img {
    padding: 1%;
    width: 15%;
    border: 5px solid var(--websites);
    transition: 1s;
}

/* Hover effect on img */
#about-me:hover img {
    padding: 0;
}

/* Second section styling */
#my-work-title {
    padding: 5px;
    width: 30%;
    border-right: 3px solid var(--titles);
    color: var(--titles);
    text-align: right;
    margin-bottom: 50px;
}

#my-work {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
}

/* Main big page styling */
#big-page {
    margin: auto;
    margin-bottom: 2%;
    position: relative;
    border: 5px solid var(--websites);
    width: 80%;
    overflow:hidden
}

#big-page img {
    text-align: center;
    background-color: var(--websites);
    opacity: 50%;
    transform: scale(1.1);
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 3s;
}

.big-title {
    background-color: var(--websites);
    text-align: left;
    position: absolute;
    bottom: 10%;
    padding: 10px 5px;
    transition: 3s;
}

#big-page a {
    color: var(--header-text);
}

/* Hover effect */
#big-page:hover img {
    opacity: 100%;
    transform: scale(1.5);
}

#big-page:hover > a > .big-title {
    opacity: 80%;
}

/* Smaller pages underneath */


#small-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#small-pages .page {
    border: 5px solid var(--websites);
    width: 39%;
    height: 40%;
    margin: 1%;
    position: relative;
}

#small-pages img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
    transition: 3s;
}

.page .page-img {
    opacity: 50%;
    transform: scale(1.1);
}

.title {
    background-color: var(--websites);
    text-align: left;
    position: absolute;
    bottom: 10%;
    padding: 5px 2.5px;
    font-size: 50%;
    transition: 2s;
}

.page {
    overflow:hidden
}

.page a {
    color: var(--header-text);
}

/* Hover effect */
.page:hover .page-img {
    opacity: 100%;
    transform: scale(1.5);
}

.page:hover > a > .title {
    opacity: 80%;
}

/* contact styling */
ul {
    list-style-type: none;
}

#contact-me-title {
    padding: 5px;
    width: 30%;
    border-right: 3px solid var(--titles);
    text-align: right;
    margin-bottom: 50px;
}

#contact-me {
    color: var(--titles);
    width: 70%;
    height: 15vh;
    margin-bottom: 50px;
}

#contact-me ul {
    position: relative;
    font-weight: bolder;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--header-text);
}

.link {
    margin: 1px;
}

.link > a {
    text-decoration: none;
    color: var(--websites);
}


/* Hover effect */
.link:hover > a {
    font-size: 120%;
}


/* Footer */
footer {
    color: var(--header-text);
    background-color: var(--header-background);
    width: 100%;
    height: 15vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Media queries */

/* For screens 1023px and smaller */
@media screen and (max-width: 1023px) {
    header {
        flex-direction: column;
        font-size: 80%;
    }
    header h1 {
        margin: 0;
    }
    header nav {
        align-self: center;
    }
    header a {
        font-size: 150%;
    }
    main {
        flex-direction: column;
    }
    #about-me-title, #my-work-title, #contact-me-title {
        text-align: center;
        width: 100%;
        border-right: 0;
        border-bottom: 3px solid var(--titles);
    }
    #about-me {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    #about-me img {
        width: 30vw;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #my-work, #contact-me {
        width: 100%;
        text-align: center;
    }
    .link {
        width: 45%;
    }
}

/* For screens 768px and smaller */
@media screen and (max-width: 768px) {
    header {
        height: 10vh;
        font-size: 50%;
    }
    header h1 {
        margin: 0;
        height: 5vh;
    }
    #small-pages .page {
        width: 80%;
    }
    .title {
        padding: 10px 5px;
        font-size: 100%;
    }
    .link {
        width: 80%;
    }
}